<!-- Begin Hourly Forecast Section -->

<div class="forecast">
  {% for h in hourly %}
  <div class="forecast__card">
    <div class="forecast__card-name">{{ hourly_times[loop.index0].local_time }}</div>
    <svg class="forecast__card-icon">
      <use
        href="/static/icons/sprite.svg#{{ h.weather[0] | weather_icon | replace('.svg','') }}">
      </use>
    </svg>
    <div class="forecast__card-temp">{{ h.temp | round | int }}{{ units_temp }}</div>
    <div class="forecast__card-meta">
      {{ h.wind_speed | round(0) }} {{ units_wind }}<br>
      <svg class="forecast__wind-icon"
        style="transform: rotate({{ h.wind_deg + 180 }}deg); transform-origin: center center;">
        <use href="/static/icons/sprite.svg#wi-wind-deg"></use>
      </svg><br>
      {{ get_hourly_precipitation(h) }} {{ units_precip }}<br>
      {% if h.pop > 0 %}
        {{ h.pop | round(0) * 100 }}%
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<!-- End Hourly Forecast Section -->